@model awsome_gymn.Models.membership_enrollment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/dashboard_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>membership_enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Membership.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membership.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
